{% extends 'base.html' %} {% from 'macros.html' import style_icon with context%}
{% block content %}

<h1 class="text-xl">Editor</h1>
<div class="my-8">
  <a class="hover:text-sky-600" href="{{ url_for('core.core') }}">Back home</a>
</div>

<div class="md:w-4/6 w-5/6 mx-auto my-12">
  <!-- toolbar -->
  <div class="flex w-full justify-start">
    {{ style_icon("bold", "B") }} {{ style_icon("italic", "I") }} {{
    style_icon("underline", "U") }} {{ style_icon("strike", "S") }} {{
    style_icon("highlight", "Hi") }} {{ style_icon("heading", "H") }} {{
    style_icon("bullet", "Bu") }} {{ style_icon("number", "Nu") }} {{
    style_icon("colour", "Co") }}
  </div>
  <!-- text area -->
  <article class="prose">
    <div
      id="editor"
      class="w-full text-left focus:outline-0 bg-gray-100 rounded-lg p-6"
      contenteditable="true"
    ></div>
  </article>
</div>

{% endblock %}
